<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.z.sharding.mapper.OrderMapper">

    <resultMap id="OrderItemResultMap" type="com.z.sharding.pojo.OrderItem">
        <id     property="itemId" column="item_id"/>
        <result property="orderId" column="item_order_id"/>
        <result property="userId" column="item_user_id"/>
        <result property="goodId" column="good_id"/>
        <result property="goodNameSnapshot" column="good_name_snapshot"/>
        <result property="goodPriceSnapshot" column="good_price_snapshot"/>
        <result property="goodImageSnapshot" column="good_image_snapshot"/>
        <result property="attributesSnapshotJson" column="attributes_snapshot_json"/>
        <result property="quantity" column="quantity"/>
        <result property="createTime" column="item_create_time"/>
    </resultMap>

    <resultMap id="OrderResultMap" type="com.z.sharding.pojo.Order">
        <id property="orderId" column="order_id"/>
        <result property="userId" column="user_id"/>
        <result property="regionCode" column="region_code"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <!-- 映射 OrderItem 列表 -->
        <collection property="orderItemList"
                    resultMap="OrderItemResultMap"/>
    </resultMap>


    <insert id="insert" parameterType="com.z.sharding.pojo.Order">
        INSERT INTO t_order(order_id, user_id, region_code , total_amount, status, create_time, update_time)
        VALUES (#{orderId}, #{userId}, #{regionCode}, #{totalAmount}, #{status}, #{createTime}, #{updateTime})
    </insert>

    <select id="selectByUserId"
            parameterType="String"
            resultMap="OrderResultMap">

        SELECT
        o.order_id,
        o.user_id,
        o.region_code,
        o.total_amount,
        o.status,
        o.create_time,
        o.update_time,

        oi.item_id,
        oi.order_id AS item_order_id,
        oi.user_id AS item_user_id,
        oi.good_id,
        oi.good_name_snapshot,
        oi.good_price_snapshot,
        oi.good_image_snapshot,
        oi.attributes_snapshot_json,
        oi.quantity,
        oi.create_time AS item_create_time

        FROM t_order o
        INNER JOIN t_order_item oi ON o.order_id = oi.order_id
        WHERE o.user_id = #{userId}
        ORDER BY o.order_id, oi.item_id;

    </select>



    <select id="selectByOrderId"
            parameterType="long"
            resultMap="OrderResultMap">

        SELECT
        o.order_id,
        o.user_id,
        o.region_code,
        o.total_amount,
        o.status,
        o.create_time,
        o.update_time,

        oi.item_id,
        oi.order_id AS item_order_id,
        oi.user_id AS item_user_id,
        oi.good_id,
        oi.good_name_snapshot,
        oi.good_price_snapshot,
        oi.good_image_snapshot,
        oi.attributes_snapshot_json,
        oi.quantity,
        oi.create_time AS item_create_time

        FROM t_order o
        INNER JOIN t_order_item oi ON o.order_id = oi.order_id
        WHERE o.order_id = #{order_id}
        ORDER BY o.order_id, oi.item_id;

    </select>




</mapper>
