<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.z.sharding.mapper.UserMapper">

    <insert id="insert" parameterType="com.z.sharding.pojo.User">
        INSERT INTO t_user(user_id, name , address, email, age, sex, create_time, update_time, version)
        VALUES (#{userId}, #{name}, #{address}, #{email}, #{age}, #{sex}, #{createTime}, #{updateTime}, #{version})
    </insert>

    <select id="selectByUserId" parameterType="String" resultType="com.z.sharding.pojo.User">
        SELECT
        user_id AS userId,
        name AS name,
        address AS address,
        email AS email,
        age AS age,
        sex AS sex,
        create_time AS createTime,
        update_time AS updateTime,
        version
        FROM t_user
        WHERE user_id = #{userId}
    </select>

    <update id="updateUserDynamic" parameterType="com.z.sharding.pojo.User">
        UPDATE t_user
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="version != null">
                version = #{version},
            </if>
            <!-- 自动更新时间 -->
            update_time = NOW()
        </set>
        WHERE user_id = #{userId}
    </update>

</mapper>
